# Description: Configuration file for clipboard file uploader
# upload url for files. REQUIRED
UPLOAD_URL=
# min image size per side in pixels, if not set, 500 will be used
MIN_SIDE_SIZE=
# time delta to check clipboards for new files, if not set, 1 will be used
TIME_DELTA=
# post or put method for upload request, if not set, 'post' will be used
UPLOAD_METHOD=
# upload retry count, if not set, 3 will be used
UPLOAD_RETRY_COUNT=
# payload type for upload request, if not set, 'json' will be used. One of 'json', 'form', 'buffer'
# if 'json' or 'form' is used, UPLOAD_FILE_KEY should be set
UPLOAD_PAYLOAD_TYPE=
# key for payload data in request to upload file, if not set, 'file' will be used
UPLOAD_FILE_KEY=
# timeout for requests in seconds, if not set, 60 will be used
REQUEST_TIMEOUT=
# login for the service, if needed
LOGIN=
# password for the service, if needed
PASSWORD=
# api key for the service, if needed
API_KEY=